* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
}

body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  position: relative;
}

.main-container {
  width: 320px;
  background-color: hsl(0, 0%, 100%);
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 24px;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container img {
  width: 100%;
  border-radius: 10px;
}

.text-content {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 16px;
}

.text-content :where(h2, p) {
  text-align: center;
}
